<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Login Page</title>
</head>
<body class="login-page">



    <form th:action="@{/login}" method="post" class="login-card">

        <img src="/images/finki_logo.png" alt="FINKI Logo" class="login-logo">

<!--        <h1 class="login-title">Најава</h1>-->

        <label class="field-label" for="username">Email адреса</label>
            <input id="username" type="text" name="username" placeholder="profesor@finki.ukim.mk" class="field-input"/>

        <label class="field-label" for="password">Лозинка</label>
            <input id="password" type="password" name="password" placeholder="--------" class="field-input"/>

        <button class="login-btn" type="submit">Најава</button>

        <a href="#" class="forgot-link">Заборавена лозинка?</a>

        <p th:if="${param.error}" class="error-msg">Невалидно корисничко име или лозинка.</p>

        <p class="login-footer">© 2026 ФИНКИ – Универзитет „Св. Кирил и Методиј"</p>
    </form>




</body>
</html>